---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header
    class="relative w-full bg-cover bg-center h-[100vh]"
    style="background-image: url('/header-bg.jpg');"
  >
    <div class="absolute inset-0 flex flex-col items-center justify-end text-white gap-2 pb-32">
      <img src="/white-logo.png" alt="Korner Logo" class="w-48" />
      <h1 class="italic text-8xl">KORNER</h1>
      <h2 class="italic text-4xl uppercase">Donde los cracks se reúnen</h2>
    </div>
  </header>
</BaseLayout>
