<footer class="bg-black text-white p-8 text-sm">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <div
      class="links flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-8"
    >
      <a href="/privacy" class="hover:text-primary transition-colors"
        >Política de privacidad</a
      >
      <a href="/terms" class="hover:text-primary transition-colors"
        >Términos y condiciones</a
      >
    </div>
    <div class="social-media mt-8 md:mt-0 flex space-x-4">
      <a
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary transition-colors">Facebook</a
      >
      <a
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary transition-colors">Instagram</a
      >
      <a
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary transition-colors">Twitter</a
      >
    </div>
  </div>
</footer>
