<nav
  class="nav-desktop hidden md:block navbar fixed top-0 left-0 right-0 w-full py-6 flex items-center justify-between bg-transparent z-10 text-white transition-colors duration-300"
  id="navbar"
>
  <div class="container mx-auto flex items-center justify-between">
    <div class="logo">
      <a href="/">
        <img src="/img/white-logo.png" alt="Korner Logo" class="w-8" />
      </a>
    </div>
    <ul class="menu flex space-x-6 text-white">
      <li>
        <a href="/" class="hover:text-primary transition-colors">Nosotros</a>
      </li>
      <li>
        <a href="/about" class="hover:text-primary transition-colors"
          >Contacto</a
        >
      </li>
      <li>
        <a href="/contact" class="hover:text-primary transition-colors"
          >Descargar</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (navbar) {
      if (window.scrollY > 100) {
        navbar.classList.add("bg-black");
        navbar.classList.remove("bg-transparent");
      } else {
        navbar.classList.add("bg-transparent");
        navbar.classList.remove("bg-black");
      }
    }
  });
</script>
