<nav
  class="navbar fixed top-0 left-0 right-0 w-full p-4 flex items-center justify-between bg-transparent z-10 text-white"
>
  <div class="logo">
    <a href="/">
      <img src="/white-logo.png" alt="Korner Logo" class="w-12" />
    </a>
  </div>
  <ul class="menu flex space-x-6">
    <li><a href="/" class="hover:text-primary transition-colors">Inicio</a></li>
    <li>
      <a href="/about" class="hover:text-primary transition-colors"
        >Sobre Nosotros</a>
    </li>
    <li>
      <a href="/contact" class="hover:text-primary transition-colors"
        >Contacto</a>
    </li>
  </ul>
</nav>
